*properties
.gitinore.swp
gradle/
build/
.gradle/
.idea/
app/build/
app/libs/
app/*.iml
app/*gradle
app/*.pro
app/src/androidTest/
app/src/test/
app/src/main/java/edu/fjnu/cse/intent/MainActivity.java
app/src/main/java/edu/fjnu/cse/mybrower/MainActivity.java
/.idea/libraries
/.idea/workspace.xml
/captures
.externalNativeBuild
